/* Sidebar styles */
.sidebar {
  background-color: #444;
  color: white;
  padding: 1rem;
  flex: 0 0 200px; /* Fixed width sidebar */
  transition: width 0.3s ease; /* Smooth transition */
  overflow: hidden; /* Hide content when collapsed */
  display: flex;
  flex-direction: column;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Button Style */
.p-button {
  width: 100%;
  margin-bottom: 10px;
  font-size: 13px;
  padding: 0.65625rem 1.09375rem;
}
.p-togglebutton {
  width: 100%;
}
.p-inputnumber-button {
  width: auto;
}
.p-inputnumber {
  .p-button {
    padding: 0.25em;
  }
  .p-inputtext {
    // min-width: 1px;
    font-size: 13px;
    padding: 0.65625rem 1.09375rem;
  }
}
.p-inputnumber-input {
  width: 100%;
  margin-bottom: 10px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .p-button,
  .p-togglebutton,
  .p-fileupload {
    width: 48%;
  }
  .p-fileupload {
    .p-button {
      width: 100%;
      .p-icon {
        display: none;
      }
    }
  }
}
